/* keep body simple */
body {
    text-align: center;
    background-color: lightgray;
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    font-size: larger;
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
}

/* style textboxes */
.textbox, .lb-data .lb-caption {
    background-color: white;
    color: black;
    padding: 1vh;
    padding-top: 6.5vh;
    border: double black 8px;
    margin: 3vh;
}

/* style notebook */
#notebook {
    padding: 0.5vh;
    margin: 0 auto;
    width: 50vh;
}

  /* caption */
  .lb-data .lb-caption {
    display: block;
    font-size: larger;
    padding: 4vh;
    text-align: center;
    font-family: 'Lucida Handwriting', 'Segoe Script', 'Courier New', 'Arial Narrow', Arial, sans-serif;
  }

  /* hide elements */
.hidden {
    visibility: hidden;
    padding: 1vh;
}
p:hover .hidden, p:focus .hidden {
    visibility: visible;
}


/* style buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: double gray 5px;
    margin-top: 3vh;
}

.btn:hover, .btn:focus {
    background-color: white;
    color: black;
}


/* dark mode */
@media (prefers-color-scheme: dark){
    .textbox {
        color: white;
        background-color: black;
        border-color: white;
    }
    body {
        background-color: darkslategray;
    }
}


@media screen and (max-width: 770px) {
    .hidden {
        visibility: visible;
    }
}